ion-content{
  --background: url('../../assets/background/login.jpg');
}
ion-item{
  padding-left: 50px;
  padding-right:50px;
  margin-bottom: 5px;
  margin-top:10px;
  font-size: 0.9em;
  color:white;
}
ion-button{
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 30px;

}
