ion-content{
  --background: url('../../assets/background/login.jpg');

}
ion-title{
  color: white;
  margin-top:5px;
  margin-bottom: 2px;
  margin-left: 5px;
}
p{
  color: white;
  font-size: 70%;
  margin-top: 0px;
  align-content: center;
  align-self: auto;
}
iframe{
  padding-left: 5%;
  margin-top: 10px;
}
ion-button{

}
