<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons>
            <ion-buttons>
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>
                Admin dashboard
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card routerLink="/admin_cinema_halls">
        <ion-card-content>
            <ion-title>
                Cin halls
            </ion-title>
        </ion-card-content>
    </ion-card>
    <ion-card routerLink="/admin_customer">
        <ion-card-content>
            <ion-title>
                Customers
            </ion-title>
        </ion-card-content>
    </ion-card>
</ion-content>

