<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons>
            <ion-buttons>
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>
                Cin chief dashboard
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card routerLink="/cin_chief_movies_list">
        <ion-card-content>
            <ion-title>
                Movies
            </ion-title>
        </ion-card-content>
    </ion-card>
    <ion-card routerLink="/cin_chief_halls_list">
        <ion-card-content>
            <ion-title>
                Assigned Cinema Halls
            </ion-title>
        </ion-card-content>
    </ion-card>
</ion-content>
